*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix{
	content: "";
	display: block;
	clear: both;
}
.base{
	width: 960px;
	margin: 50px 0;
}
section{
	width: 300px;
	border: 1px solid #C0C0C0;
	float: left;
	margin-right: 30px;
}
section:last-child{
	margin-right: 0;
}
img{
	width: 280px;
	margin: 10px;
}
h1{
	font-size: 20px;
	padding: 0 10px;
}
p{
	font-size: 16px;
	padding: 0 10px;
}
span{
	line-height: 30px;
	color: white;
	background-color: orange;
	position: absolute;
}

@media screen and (max-width:768px){
	.base{
		width: 100%;
	}
	section{
		width: 90%;
		float: none;
		margin: 10px auto;
	}
	section:last-child{
		margin: 10px auto;
	}
	img{
		width: 100%;
		padding-right: 20px;
	}
}